<div class="offcanvas__nav__option">
    <a href="#" class="search-switch"><img src="~/Asset/img/icon/search.png" alt=""></a>
    <a href="@Url.Action("Cart","Cart")"><img src="~/Asset/img/icon/cart.png" alt=""> <span>@ViewBag.TongSoLuong</span></a>
    <div class="price">@ViewBag.TongTien VNĐ</div>
</div>
